html, body {
    padding: 0;
    margin: 0;

}
body{
    background-color:rgb(36, 40, 47);
    color: white;
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    background-color:rgb(32, 35, 41);
    padding: 2rem ;
}

.header p {
    font-size: 4rem;
    text-align: center;
    color: rgb(30, 245, 30);
}

.filter {
    margin: 2rem;
}

.search {
    outline: none;
    font-size: 14px;

}

.btn img {
    width:25px;
}

.btn {
    background-color:white;
    border: none;
}

.btn:hover{
cursor: pointer;
background-color: rgb(173, 173, 173);
}

li {
    margin-bottom: 1.5rem;
    /* list-style-type: none; */
}

.btn-name {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color:white;
}
 

.btn-name:hover {
    cursor: pointer;
    color: darksalmon;
}

#datos img {
    width: 200px;
    padding: 2rem;
}